*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell: 200px;
  --mark: calc(var(--cell) * 0.9);
}

body {
  margin: 0;
}

.cell {
  border: 1px solid black;
  text-align: center;
  height: var(--cell);
  width: var(--cell);
  font-size: var(--mark);
  margin: 0;
}

.game-container {
  width: 100vh;
  height: 100vh;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}